body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(245, 242, 242);
}

.outer-insta{
    /* background: linear-gradient(135deg, #f58529, #dd2a7b, #8134af, #515bd4); */
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%,#fd5949 45%, #d6249f 60%, #285aeb 90%);
    width: 245px;
    height: 245px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.inner-insta{
   background-color: #f0f0f0;
   width: 230px;
   height: 230px;
   border-radius: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.instagram-logo {
    position: relative;
    width: 200px;
    height: 200px;
    /* background: linear-gradient(135deg, #f58529, #dd2a7b, #8134af, #515bd4); */
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%,#fd5949 45%, #d6249f 60%, #285aeb 90%);
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-circle {
    width: 120px;
    height: 120px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 80px;
    height: 80px;
    /* background: linear-gradient(135deg, #f58529, #dd2a7b, #8134af, #515bd4); */
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%,#fd5949 45%, #d6249f 60%, #285aeb 90%);
    border-radius: 50%;
}

.small-circle {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
}
